[Unit]
Description=camera
After=network.target

[Service]
ExecStart=/opt/camera/camera-start.sh
KillMode=control-group
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
